@font-face {
    font-family: "Avengeance";
    src: url("Avengeance.ttf");
}

body{
	background-image: url("../images/gameBackground.png");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-color: black;
 }

h1{
	font-family: "Avengeance";
	color: #a50000;
	font-size: 125px;
	margin: 20px 0 20px 30px;
}

.allCharas {
	float:left;
	width: 5%
	
}

div p{
	font: 20px;
	color: white;
	text-align: center;
}

.allCharas img {
	width: 100px;
/*	padding: 1px;*/
}

/*.iron {
	height: 500px;
}*/

.col-xs-1 {
	width: 8%;
}

.col-xs-10{
	margin-left: 20px;
}

h2 {
	color: white;
	margin-left: 30px;
}

.chosenFighter{
	width: 100px;
}


.health {
	font-family: 'Courier';
	color: white;
	font-size: 16px;
	/*background: black;*/
	border-radius: 10px;
}

.btn-danger {
	margin-left: 30px;
}

/*.hero-img img {
	width: 225px;
	height: 300px;
	border-color: white;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}*/

/*.foe-img img {
	width: 225px;
	height: 300px;
	border-color: red;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.defeated img {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
/*    filter: grayscale(100%);
}
*/


/*#attack-btn {
	vertical-align: bottom;
}

#reset-btn {
	vertical-align: top;
}*/

	